.itineraryitem{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.timeblock{
  background: linear-gradient(90deg, var(--purple), var(--darkPurple));
  width: fit-content;
  border-radius: 20px;
  padding: 4px 8px;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}
.itineraryItem > p{
  background: linear-gradient(90deg, var(--blue), var(--darkBlue));
}
.noteCon{
  background: var(--white);
  padding: 16px 24px;
  border: none;
  border-radius: 0 30px 30px 30px; 
}
.noteCon:focus{
  outline: 1px solid var(--blue);
}
.noteWrapper{
  position:relative;
}
.noteWrapper svg{
position: absolute;
right: 24px;
top: 16px;
cursor: pointer;
color: var(--error);
opacity: 0;
transition: all 0.2 ease-in-out;
}
.noteWrapper:hover svg{
  opacity: 1;
}
.divider{
  height: 1px;
  background: var(--grey-one);
  width: 100%;
  margin-top: 16px;
}
.itinDetails{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.editBtns > button {
  border: none;
  border-radius: 20px;
  line-height: 0;
  padding: 5px;
  aspect-ratio: 1/1;
}
.deleteItin{
  background: var(--error);
  color: #fff;
  margin-left: 16px;
}
.editItin{
  background: var(--grey-one);
  color: var(--dark);
}
.addNoteBtn{
  display: flex;
  background: none;
  border: none;
  display: block;
  text-align: left;
  padding-left: 24px;
  text-decoration: underline;
  color: var(--blue);
  width: fit-content;
}
.addNoteBtn svg{
  margin-right: 8px;
}